// look at [readme](../README.md) for more information
doctype html
meta(charset="utf-8")
html(lang="en")
  head
    title Nice coool awesome demo timeline application!
    script(src='js/timeline-scale-library.js')
    script(src='js/timeline-scale-example.js')
  body
    canvas#timeline(width=1800, height=200)
